<div class="row mt-3">
  <div class="col text-center">
    *válidas durante 30 días. Podés sumar clases adicionales por $<span data-controller="learn-amount" data-learn-amount-url-value="https://learn.derose.app/a/cervino/pay/clase-suelta.json"></span> la clase.
    <a href="/contacto">Consultá disponiblidad.</a>
  </div>
</div>
