<div class="py-4">
  <h2>Sobre el Método <%= derose_brand %></h2>
  <%= render "faq_method" %>
</div>
<div class="py-4">
  <h2>Sobre la dinámica en la escuela</h2>
  <%= render "faq_clases" %>
</div>
<div class="py-4">
  <h2>Sobre las membresías</h2>
  <%= render "faq_membresias" %>
</div>
