<div class="accordion pt-4" id="faq-method">
  <%= render "faq_item", {
    parent_id: "faq-method",
    q: "¿Qué es #{derose_brand} Method?",
    a: que_es_derose_method
  } %>
  <%= render "faq_item", {
    parent_id: "faq-method",
    q: "¿Es Yôga?",
    a: derose_es_yoga
  } %>
  <%= render "faq_item", {
    parent_id: "faq-method",
    q: "¿Qué es la 'práctica preparatoria'?",
    a: <<-A
  <p>
    Es la primera etapa práctica. En ella se aprenden técnicas respiratorias y corporales para desarrollar más la fuerza y tono muscular, flexibilidad y concentración.
  </p>
  <p>
    Estas clases te preparan para la práctica completa que avanza mucho más hacia el desarrollo de mindfulness y meditación.
  </p>
  A
  } %>
</div>
