<div class="d-flex justify-content-center align-items-center">
  <%= link_to "/whatsapp", target: "_blank" do %>
    <%= image_tag "icons/icons8-whatsapp-80.webp", id: "wapp-icon", class: "me-2" %>
  <% end %>
  <%= link_to "https://instagram.com/derosecervino", target: "_blank" do %>
    <%= image_tag "icons/instagram.webp", id: "ig-icon", class: "ms-2" %>
  <% end %>
</div>
