:root {
  --brand-blue: #040e85;
  --brand-white: #fff;
  --brand-brown: #c69c6c;
}

.btn-cta {
  color: var(--brand-white) !important;
  background-color: var(--brand-brown) !important;
  border-color: var(--brand-brown) !important;
  &:hover {
    background-color: var(--brand-white) !important;
    border-color: var(--brand-brown) !important;
    border-width: 3px;
    color: #000 !important;
  }
}

h1, h2, .font-brand-title {
  font-family: 'Sanomat Web';
  font-weight: lighter;
  font-style: italic;
}

p, .font-brand-body {
}

// @example <span class='derose_brand'>De<span class='smallcaps'>Rose</span></span>
.derose_brand {
  .smallcaps {
    font-variant: small-caps;
  }
}

// para titulos
@font-face {
  font-family: 'Sanomat Web';
  src: url('Sanomat-LightItalic-Web.woff2') format('woff2'),
  url('Sanomat-LightItalic-Web.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

.Sanomat-LightItalic-Web {
  font-family: 'Sanomat Web';
  font-weight: 300;
  font-style: italic;
}
