:root {
  --brand-blue: #040e85;
  --brand-white: #fff;
  --brand-brown: #c69c6c;
}

.btn-cta {
  background-color: var(--brand-brown) !important;
  border-color: var(--brand-brown) !important;
  &:hover {
    background-color: var(--brand-white) !important;
    border-color: var(--brand-white) !important;
    color: var(--brand-brown) !important;
  }
}

h1, h2 {
  font-family: Sanomat;
  font-weight: lighter;
  font-style: italic;
}

p {
  font-family: "Scto Grotesck A", sans-serif;
}

.derose_brand {
  .smallcaps {
    font-variant: small-caps;
  }
}

// para titulos
@font-face {
  font-family: "Sanomat";
  src: font_url("Sanomat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sanomat";
  src: font_url("Sanomat-Light-Italic.otf") format("opentype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Scto Grotesck A";
  src: font_url("Scto-Grotesk-A-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Scto Grotesck A";
  src: font_url("Scto-Grotesk-A-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

