:root {
  --navbar-height: 60px;
}

#main-navigation {
  background-color: var(--brand-blue);
  .navbar-brand {
    img {
      max-height: var(--navbar-height);
    }
  }
  .navbar-toggler {
    background-color: var(--brand-brown);
  }
  .navbar-nav {
    .nav-item {
      a {
        color: var(--brand-white);
        text-transform: uppercase;
        &:hover {
          color: var(--brand-brown);
        }
      }
    }
  }
}
