:root {
  --navbar-height: 80px;
}

#main-navigation {
  min-height: var(--navbar-height);
  background-color: var(--brand-blue);
  .navbar-brand {
    margin-right: 4rem;
    img {
      max-height: calc(var(--navbar-height) - 2rem);
    }
  }
  .navbar-toggler {
    background-color: var(--brand-brown);
  }
  .navbar-nav {
    .nav-item {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      a {
        font-family: "Scto Grotesck A", sans-serif;
        font-weight: lighter;
        color: var(--brand-white);
        &:hover {
          color: var(--brand-brown);
        }
      }
    }
  }
}
