:root {
  --footer-height: 8vh;
}
main#main {
  margin-top: calc(var(--navbar-height));
  margin-bottom: calc(var(--footer-height));
}

#home-band-1 {
  min-height: calc(100vh - var(--navbar-height) - 200px);
}

#home-drm {
  &:target {
    padding-top: var(--navbar-height);
  }
  .logo {
    max-width: 300px;
  }
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#home-testimonials {
  margin-top: 3rem;
  margin-bottom: 3rem;
  #img-estivi-webp {
    max-width: 300px;
  }
  #img-sofi-webp {

  }
}

#home-presencial-y-online {
  min-height: 60vh;
  #online-y-presencial {
    font-size: 4rem;
    font-weight: bolder;
    margin-top: 2rem;
  }
  .btn-cta {
    margin-bottom: 3rem;
  }
}

footer {
  height: var(--footer-height);
  background-color: var(--brand-blue);
}

#wapp-icon{
  width: 2rem;
}
#ig-icon {
  width: 2rem;
}

#horarios {
  height: 100vh;
}
