:root {
  --footer-height: 8vh;
}
main#main {
  margin-top: calc(var(--navbar-height));
  margin-bottom: calc(var(--footer-height));
}

#home-band-1 {
  min-height: calc(100vh - var(--navbar-height) - 200px);
}

#home-drm {
  &:target {
    padding-top: var(--navbar-height);
  }
  .logo {
    max-width: 300px;
  }
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#home-testimonials {
  margin-top: 3rem;
  margin-bottom: 3rem;
  #img-estivi-webp {
    max-width: 300px;
  }
  #img-sofi-webp {

  }
}

#home-presencial-y-online {
  min-height: 60vh;
  #online-y-presencial {
    font-weight: bolder;
    color: var(--brand-blue);
    margin-top: 2rem;
    @media(max-width: 400px){
      font-size: 3rem;
    }
    @media (min-width: 400px) {
      font-size: 4rem;
    }
  }
  .btn-cta {
    margin-bottom: 3rem;
  }
}

footer {
  height: var(--footer-height);
  background-color: var(--brand-blue);
  padding-bottom: 4rem !important;
}

#wapp-icon{
  width: 2rem;
}
#ig-icon {
  width: 2rem;
}

#horarios, #pricing, #private-teacher {
  height: 100vh;
}

#yoga {
  .row:first-child {
    max-height: calc(713px - 13px);
    .col-sm-6:last-child {
      padding: 0;
      margin: 0;
    }
  }
  #foto-bachi {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

.btn-xl {
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 3.5rem;
  --bs-btn-font-size: 2rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}
