---
layout: bio
---
<div class="container d-flex flex-column justify-content-between">
  <ul id="links" class="list-group gap-3 mt-4">
    <li class="list-group-item text-center position-relative">
      <a href="/horarios" class="stretched-link">Horarios presenciales y online</a>
    </li>
    <li class="list-group-item text-center position-relative">
      <a href="/pricing" class="stretched-link">Membresías <%= derose_brand %> Cerviño</a>
    </li>
    <li class="list-group-item text-center position-relative">
      <a href="/" class="stretched-link">Nuestra web</a>
    </li>
  </ul>
  <div id="testimonial" class="bg-brand-white p-2 mt-4 mx-4 mb-2" data-controller="show-random">
    <% all_testimonial_paths.each do |path| %>
      <%= image_tag path, class: "img-fluid d-none", data: {show_random_target: "item"} %>
    <% end %>
  </div>
</div>
