<div class="ratio" style="--bs-aspect-ratio: 100%;">
  <iframe src="http://localhost:3031/a/cervino/schedule/preview?embedded=1"
          class="d-none d-sm-block"></iframe>
  <iframe src="http://localhost:3031/posts/schedule?account_vanity_name=cervino&filter%5Bshow_public%5D=true&preview=true&preview_options%5Baccess%5D%5Baccount_id%5D=1&embedded=1"
          class="d-block d-sm-none"
  ></iframe>
</div>
