<div class="container p-1">
  <div class="ratio" style="--bs-aspect-ratio: 100%;">
    <iframe src="https://learn.derose.app/a/cervino/schedule/preview?embedded=true&locale=es"
            class=""></iframe>
  </div>
</div>
