---
title: Preguntas frecuentes
meta_robot: noindex
---
<div class="container">
  <div class="py-4">
    <h1>Sobre el Método <%= derose_brand %></h1>
    <%= render "faq_method" %>
  </div>
  <div class="py-4">
    <h1>Sobre la dinámica en la escuela</h1>
    <%= render "faq_clases" %>
  </div>
  <div class="py-4">
    <h1>Sobre las membresías</h1>
    <%= render "faq_membresias" %>
  </div>
</div>
