---
title: Horarios
---
<div id="horarios" class="container-fluid d-flex justify-content-center align-items-center bg-lu-y-mateo">
  <div class="bg-translucent-white p-4 text-center">
    <p>
      Encontrá nuestra agenda de actividades siempre actualizada en nuestra plataforma
    </p>
    <%= cta_link_to "Ver horarios", "https://learn.derose.app/a/cervino/schedule/preview", target: "_blank" %>
  </div>
</div>
