<div id="horarios" class="container-fluid d-flex justify-content-center align-items-center lu-y-mateo-bg">
  <div class="">
    <p>
      Encontrá nuestra agenda de actividades siempre actualizada en nuestra plataforma
      <br>
      <%= cta_link_to "Ver horarios", "https://learn.derose.app/a/cervino/schedule/preview" %>
    </p>
  </div>
</div>
