---
title: Horarios Completa
---
<div class="container-fluid mx-0 px-0 fill-between-bars">
  <div class="iframe-container pt-1 p-0 w-100 h-100 d-flex flex-column overflow-hidden">
    <iframe class="flex-grow-1 m-0 p-0"
            src="<%= learn_host %>/a/cervino/schedule/preview?embedded=true&locale=es&preview_options[user][level]=1">
    </iframe>
  </div>
</div>
