---
title: Inicio
redirect_to: somehere
---
<%= current_page.data %>

<p>Certificados por la Red DeROSE desde hace más de 10 años. TEST</p>
<%= image_tag "logo-blanco.webp" %>
<p>Conocé más de qué se trata en <%= link_to "www.derosemethod.org", "https://www.derosemethod.org/es", target: "_blank" %></p>
