<div id="mindfulness" class="container-fluid">
  <div class="row">
    <div class="col text-center bg-brand-brown p-4">
      <h1>DeROSE Method es otra cosa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 p-3 fs-4">
      <p>
        Mindfulness es a grandes rasgos el proceso de traer la conciencia al momento presente. En la actualidad se ha tornado practicamente en un sinónimo para el entrenamiento de meditación.
      </p>
      <p>
        En DeROSE Method trabajamos sobre los hábitos cotidianos buscando, sobre el comportamiento, y la meditación es una de las herramientas principales y más transformadoras para esto.
      </p>
      <p>
        En DeROSE Method vas a encontrar:
      </p>
      <ul>
        <li> trabajo de concentración y meditación </li>
        <li> herramientas para la administración del estrés </li>
        <li> conceptos sobre hábitos cotidianos y estilo de vida </li>
        <li> recomendaciones de alimentación </li>
        <li> conceptos para mejorar tus relaciones humanas </li>
        <li> viajes y actividades sociales de integración </li>
        <li> salidas culturales </li>
        <li> entrenamientos de fuerza y resistencia muscular </li>
        <li> desarrollo de flexibilidad </li>
        <li> mejora de tu capacidad respiratoria </li>
      </ul>
    </div>
    <div class="col-sm-6 d-flex justify-content-center align-items-center overflow-hidden">
      <%= image_tag "fotos/bg-fran-focus.webp", id: "foto-bachi" %>
    </div>
  </div>
</div>
