---
title: Private teacher
text: Las clases personales permiten adaptar la metodología a las particularidades de cada alumno de acuerdo a sus intereses y necesidades.
---
<div class="container">
  <%= render "site/personal/header" %>
  <%= render "site/personal/tabla_valores", {valores: [
    "$22,000",
    "$80,000",
    "$130,000",
    "$165,000",
    "$220,000"
  ]} %>
</div>
