---
title: Private teacher
text: Las clases personales permiten adaptar la metodología a las particularidades de cada alumno de acuerdo a sus intereses y necesidades.
---
<div class="container">
  <%= render "site/personal/header" %>
  <%= render "site/personal/tabla_valores", {valores: [
    "$44,500",
    "$130,000",
    "$250,000",
    "$325,000",
    "$430,000"
  ]} %>
</div>
