---
title: Private teacher
text: Las clases personales permiten adaptar la metodología a las particularidades de cada alumno de acuerdo a sus intereses y necesidades.
---
<div class="container">
  <%= render "site/personal/header" %>
  <%= render "site/personal/tabla_valores", {valores: [
    "$18,000",
    "$56,000",
    "$96,000",
    "$126,000",
    "$160,000"
  ]} %>
</div>
