<div id="horarios" class="container-fluid d-flex justify-content-center align-items-center bg-lu-y-mateo">
  <div class="bg-translucent-white p-4 text-center">
    <p>
      Encontrá todas las opciones de planes en nuestra plataforma
    </p>
    <%= cta_link_to "Ver planes", "https://learn.derose.app/l/cervino-pricing", target: "_blank" %>
  </div>
</div>
