<div id="horarios" class="container-fluid d-flex justify-content-center align-items-center bg-lu-y-mateo">
  <div class="bg-translucent-white p-4 text-center">
    <p>
      Las clases personales permiten adaptar la metodología a las particularidades de cada alumno de acuerdo a sus intereses y necesidades.
    </p>
    <p>
      Encontrá los valores en nuestra plataforma.
    </p>
    <%= cta_link_to "Ver valores", "https://learn.derose.app/l/cervino-pricing-personal", target: "_blank" %>
  </div>
</div>
