---
title: Private teacher
text: Las clases personales permiten adaptar la metodología a las particularidades de cada alumno de acuerdo a sus intereses y necesidades.
---
<div class="container">
  <%= render "site/personal/header" %>
  <%= render "site/personal/tabla_valores", {valores: [
    "$40,000",
    "$140,000",
    "$240,000",
    "$300,000",
    "$400,000"
  ]} %>
</div>
<div class="container mt-4">
  <p class="text-center">
    <small>
      <%= link_to "ver valores en USD", "/private-teacher-usd" %>
    </small>
  </p>
</div>
