---
title: Private teacher
text: Las clases personales permiten adaptar la metodología a las particularidades de cada alumno de acuerdo a sus intereses y necesidades.
---
<div class="container">
  <%= render "site/personal/header" %>
  <%= render "site/personal/tabla_valores", {valores: [
    "40 USD",
    "140 USD",
    "240 USD",
    "300 USD",
    "400 USD"
  ]} %>
</div>
