---
title: Reservá una clase de prueba
meta_robot: noindex
---
<div class="container-fluid p-1">
  <div class="iframe-container ratio" style="--bs-aspect-ratio: 100%; min-height: 65vh;">
    <iframe src="http://localhost:3031/a/cervino/posts/schedule?preview=true&guest_booking=true&filter[show_public]=0&filter[languages][]=es&embedded=true&locale=es"
            class=""></iframe>
  </div>
</div>
