---
title: Reservá una clase de prueba con Victoria
meta_robot: noindex
---
<div class="container-fluid mx-0 px-0 fill-between-bars">
  <div class="iframe-container pt-1 p-0 w-100 h-100 d-flex flex-column overflow-hidden">
    <iframe class="flex-grow-1 m-0 p-0"
            src="https://learn.derose.app/a/cervino/posts/schedule?preview=true&guest_booking=true&filter[author_ids][]=747&filter[show_public]=0&filter[languages][]=es&filter[post_types][]=InPersonLive&embedded=true&locale=es">
    </iframe>
  </div>
</div>
